{% extends "lib/webinterface/fragments/layout.tpl" %}
{% import "lib/webinterface/fragments/macros.tpl" as macros%}
{% block head_css %}{% include 'lib/webinterface/fragments/datatables_css.tpl' %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Zwave Tools</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h4>
				<div style="float: right;">
					<a href="#" data-toggle="modal" data-target="#zwaveinfo"><i class="fa fa-question-circle fa-2x"></i></a>
				</div>Zwave Tools </h4>
			</div>
			<div class="panel-body">
				<ul>
					<li> <label><a href="/module_settings/zwave/add_node">Add new node(s)</a> </label> Add any node(s) as desired. After clicking this,
						add any nodes per the directions for each device. Only need to click this once to add several nodes.
						When done, click <a href="/module_settings/zwave/cancel_command">Cancel Command</a>.</li>
					<li> <label><a href="/module_settings/zwave/add_node_secure">Add new secure node(s)</a> </label>  Add any nodes as desired. After clicking this,
						add any nodes per the directions for each device. Only need to click this once to add several nodes.
						When done, click <a href="/module_settings/zwave/cancel_command">Cancel Command</a>.</li>
					<li> <label><a href="/module_settings/zwave/heal">Heal Zwave Network</a> </label>  After adding any nodes, you should heal
						the zwave network. This allows previous devices to determine best routes to new devices. This should
						also be used when moving devices around.</li>
					<li> <label><a href="/module_settings/zwave/remove_node">Remove node(s)</a> </label> Remove any nodes as desired. After clicking this,
						remove any nodes per the directions for each device. Only need to click this once to remove several nodes.
						When done, click <a href="/module_settings/zwave/cancel_command">Cancel Command</a>.</li>
					<li> <label><a href="/module_settings/zwave/soft_reset">Soft Reset</a> </label>  Do a soft reset of the Z-Wave
						controoler.</li>
					<li> <label><a href="/module_settings/zwave/remove_node">Test Network</a> </label>  Remove any nodes as desired. After clicking this,
						remove any nodes per the directions for each device. Only need to click this once to remove several nodes.
						When done, click <a href="/module_settings/zwave/cancel_command">Cancel Command</a>.</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /.col-lg-6 -->
</div>
<!-- /.row -->

{% endblock %}

{% block body_bottom_js %}{% include 'lib/webinterface/fragments/datatables_js.tpl' %}{% endblock %}


