{% extends "lib/webinterface/fragments/layout.tpl" %}
{% import "lib/webinterface/fragments/macros.tpl" as macros%}

{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Zwave - Remove Node(s)</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">

							<div class="panel-heading">
								<h4>
                                <div style="float: right;">
                                    <a href="#" data-toggle="modal" data-target="#zwaveinfo"><i class="fa fa-question-circle fa-2x"></i></a>
                                </div>Zwave - Remove Node(s) </h4>
							</div>
							<div class="panel-body">
								<p>Remove as many Z-Wave nodes per the directions for each node. When done click <label><a href="/module_settings/zwave/cancel_command">Cancel Command</a> </label> to stop
								adding nodes.</p>
							</div>
						</div>
					</div>
					<!-- /.col-lg-6 -->
				</div>
	            <!-- /.row -->

{% endblock %}


